<!doctype html>
<html>
	<head>
		<title>Weather</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
	</head>
	<body>

		<div class="container">

			<!-- Title -->
			<h1>WeatherPi</h1>

			<!-- Latest Data -->
			<div class="latest-data">
				Latest Recorded Temperature:
				<span class="temperature"></span>
				(<span class="date"></span>)
			</div>

			<!-- All Data -->
			<table class="table table-striped past-week">
				<thead>
					<th>Date</th>
					<th>Temperature</th>
				</thead>
			</table>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	</body>
</html>